@font-face{
    font-family: Lemonada;
    src: url(../Lemonada-VariableFont_wght.ttf);
}

body{
    background-color: linear-gradient(to top, rgba(40, 107, 90, 0.397) 0%, rgba(40, 107, 90, 0.377) 100%), url(./img/headbg.jpg);
    background-size: cover;
    padding:0;
    margin:0; 
}

.headp{
    
    width: 100%;
    height: auto;

}

